<launch>

<include file="$(find rossumo)/launch/rossumo.launch">
  <arg name="robot" value="sumo_khaki" />
  <arg name="ip_address" value="192.168.1.101"/>
</include>
<include file="$(find rossumo)/launch/joy_teleop.launch">
  <arg name="robot" value="sumo_khaki" />
  <arg name="device" value="/dev/input/js1" />
</include>

<include file="$(find rossumo)/launch/rossumo.launch">
  <arg name="robot" value="sumo_black" />
  <arg name="ip_address" value="192.168.1.102"/>
</include>
<include file="$(find rossumo)/launch/joy_teleop.launch">
  <arg name="robot" value="sumo_black" />
  <arg name="device" value="/dev/input/js2" />
</include>
</launch>
