<launch>
<arg name="robot" default="rossumo1" />
<group ns="$(arg robot)">
<!--
  <node pkg="image_view" type="image_view" output="screen" name="rgb_viewer"
        args="image:=rgb"/>
-->

  <node pkg="rviz" type="rviz" name="rviz" output="screen"
        args="-display-config $(find rossumo)/config/rviz_sumo.rviz" />
</group>
</launch>
